.totalPanier{
    /*Ma personnalisation*/
    cursor: default !important;
    padding: 8px 35px 8px 35px;
    background-color: #6c757d;
    color: #fff !important;

    /*Bootstrap classe btn-block*/
    display: block;
    width: 100%;
    /*Bootstrap classe btn-lg*/
    /*padding: .5rem 1rem;*/
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .4rem;
    /*Bootstrap classe btn*/
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
    font-family: 'Just Another Hand', cursive;

    /*button*/
    text-transform: none;
    overflow: visible;
}